$font-small: 14px;
$font-medium: 16px;
$font-large: 20px;

$primary-color: #f53838;
$second-color: #4f5665;
$third-color: #0b132a;

$font-family: "Rubik", sans-serif;

$regular: 400;
$medium: 500;
$bold: 700;
