%button-primary {
  background-color: $primary-color;
  border: 0;
  cursor: pointer;
  color: #fff;
  border-radius: 10px;
}

%button-second {
  border: 1px solid $primary-color;
  border-radius: 50px;
  cursor: pointer;
  color: $primary-color;
}
